.footer{
   margin-top: 0.8rem;
   border-top: var(--border);
   padding: 1rem;
   color: var(--text);
   text-align: center; 
}

.footer__inner{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   gap: 1.5rem;
   font-size: 0.95rem;
}

.footer a{
   font-weight: 700;
   color: var(--white);
   text-decoration: none;
   background: var(--secundary);
   padding: 10px;
   border-radius: 10px;
   border: var(--border);
}

.footer a:hover{
   text-decoration: underline;
   background: var(--accent);
}